/**
* This file is part of the CJTTERABYTESOFT yii2-theme-adminator-skeleton
*
* (c) CJT TERABYTE LLC yii2-theme-adminator-skeleton
* For the full copyright and license information, please view the LICENSE.md
* file that was distributed with this source code
*
*      @link: https://github.com/cjtterabytesoft/yii2-theme-adminator-skeleton
*    @author: Wilmer Arámbula <cjtterabytellc@gmail.com>
* @copyright: (c) CJT TERABYTE LLC
*     @theme: [yii2-theme-adminator-skeleton]
*       @css: [Site-Adminator]
*     @since: 1.0
**/

/*--------------------------------------------------------------------------------------------------------------------*/
/* JUMBOTROM CUSTOM                                                                                                   */
/*--------------------------------------------------------------------------------------------------------------------*/

.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
                                                                                                        
/*--------------------------------------------------------------------------------------------------------------------*/
/* WRAP                                                                                                               */
/*--------------------------------------------------------------------------------------------------------------------*/

.wrapper {
    min-height: 100vh;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrapper > .container {
    padding: 70px 15px 20px;
}

/* SKIN-BLACK                                                                                                         */  

/*--------------------------------------------------------------------------------------------------------------------*/
/* NAV                                                                                                                */
/*--------------------------------------------------------------------------------------------------------------------*/

.skin-black .navbar .navbar-nav .nav-item > a {
    color: #7c8695;
}
.skin-black .navbar-nav .active {
    color: #1d2124 !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* NAV BRAND                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/

.skin-black .navbar-header > a {
    color: #7c8695;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    font-weight: bold
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* BREADCRUMB                                                                                                         */
/*--------------------------------------------------------------------------------------------------------------------*/

.skin-black .breadcrumb > li + li:before {
    color: #7c8695;
    content: "/\00a0";
    padding: 0 5px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* FOOTER CUSTOM                                                                                                      */
/*--------------------------------------------------------------------------------------------------------------------*/

.skin-black .main-footer{
    background-color: #ffffff;
}
.skin-black .main-footer .row .col-sm .ico {
    color: #1d2124;
    padding: 3px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* PULL CUSTOM                                                                                                        */
/*--------------------------------------------------------------------------------------------------------------------*/

.pull-left {
	float: left ;
}
.pull-right {
	float: right ;
}